# Игнорирование зависимостей и модулей
node_modules

# Игнорирование файлов конфигурации IDE
.idea

# Игнорирование файлов с расширением .ini
*.ini

# Игнорирование папки materials
materials

# Дополнительные файлы и папки, которые следует игнорировать
